.fullwrap {
	background: black;
	padding: 10px;
}
.header {	
	background: blue;
	height: 200px;
}
.wrap {
	background: white;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.main {	
	background: green;
	width: 60%;
	height: 700px;
	float:left;
}
.sidebar {
	background: orange;
	width: 35%;
	height: 700px;
	float:right;
}
.both {
	clear: both;
}
.footer {
	background: purple;
	height: 150px;
}